<style>
  .container {
    max-width: 1600px;

    padding-left: 5px;
    padding-right: 5px;
  }

  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;

    small {
      font-size: 0.5em;
    }
  }

  .col {
    flex-basis: 20%;
  }

  tr {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .table-row:hover {
    background-color: azure;

    transform: scale(1.05);

  }

  .table-header {
    background-color: rgb(248, 236, 164);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: black;
  }

  .table-row {
    background-color: azure;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }

  .highlight {
    background-color: rgba(16, 16, 16, 0.703);
    color: azure
  }
</style>
<div class="container">
  <table class="responsive-table">
    <thead>
      <tr class="table-header">
        <th class="col">Invoice ID</th>
        <th class="col">Branch</th>
        <th class="col">City</th>
        <th class="col">Customer Type</th>
        <th class="col">Product Line</th>
        <th class="col">Name</th>
        <th class="col">Image</th>
        <th class="col">Unit Price</th>
        <th class="col">Quantity</th>
        <th class="col">Tax 5%</th>
        <th class="col">Total</th>
        <th class="col">Date</th>
        <th class="col">Time</th>
        <th class="col">Payment</th>
        <th class="col">COGS</th>
        <th class="col">Gross Income</th>
        <th class="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      {{#each sales}}
    
     
      
      
      <tr class="table-row">
       
       <td>{{this.[Invoice ID]}}</td>
                <td>{{this.Branch}}</td>
                <td>{{this.City}}</td>
                <td>{{this.[Customer type]}}</td>
                <td>{{this.[Product line]}}</td>
                <td>{{this.name}}</td>
                <td><img src="{{image}}" alt="Product Image"></td>
                <td>{{this.[Unit price]}}</td>
                <td>{{this.Quantity}}</td>
                <td>{{this.[Tax 5%]}}</td>
                <td>{{this.Total}}</td>
                <td>{{this.Date}}</td>
                <td>{{this.Time}}</td>
                <td>{{this.Payment}}</td>
                <td>{{this.cogs}}</td>
                <td>{{this.[gross income]}}</td>
                <td>{{this.Rating}}</td>
      </tr>

     
      {{/each}}
    </tbody>
  </table>
</div>